<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Discord Music Box</title>
</head>
<body>
    <h1>This is a Discord Music Box</h1>
    <p>Welcome to the show!</p>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
