body {
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 100%), rgb(0, 0, 0);
    min-height: 100vh;
}

.sectionWrapper {
    padding: 2rem;
}

.sectionContainer {
    width: 100%;
    position: relative;
}

.sectionContainer:has(.imageThumbnail) {
    border-radius: 2rem;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.80);
}

.imageThumbnail {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 2rem;
}

.player {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 0 0 50px 60px rgba(0, 0, 0, 0.4);
}

.playerContainer {
    margin-inline: auto;
    padding-inline: 2rem;
    padding-block: 2rem;
    max-width: 980px;

}

.playBar {
    display: flex;
    justify-content: space-between;
}

.playAction {
    display: flex;
    gap: 2rem;
}

.songDurationContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding-inline: .625rem;
}

.songDuration {
    display: flex;
    justify-content: space-between;

    color: rgba(255, 255, 255, .5);
    font-size: 0.625rem;
}

.songDurationBar {
    width: 100%;
    height: 0.25rem;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 9999px;
}

.songDurationBarActiv {
    height: 100%;
    width: 60%;
    background-color: #fff;
    border-radius: 9999px;
}